.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-break-word {
  word-wrap: break-word
}

// Font weight
.fw-300  {
  font-weight: 300;
}

.fw-400  {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600  {
  font-weight: 600;
}

.fw-700  {
  font-weight: 700;
}

// Aligns
.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

@media (min-width: $screen-sm-min) {
  .text-sm-left {
    text-align: left !important;
  }
  .text-sm-right {
    text-align: right !important;
  }
  .text-sm-center {
    text-align: center !important;
  }
}

@media (min-width: $screen-md-min) {
  .text-md-left {
    text-align: left !important;
  }
  .text-md-right {
    text-align: right !important;
  }
  .text-md-center {
    text-align: center !important;
  }
}

 @media (min-width: $screen-lg-min) {
  .text-lg-left {
    text-align: left !important;
  }
  .text-lg-right {
    text-align: right !important;
  }
  .text-lg-center {
    text-align: center !important;
  }
}
