.pagination {
  > li {
    display: inline-block;

    > a,
    > span {
      border-radius: $border-radius-base;
      margin-left: 5px;
      transition: all $transition-duration;
    }
  }
}

// Rounded
.pagination-rounded {
  > li {
    > a,
    > span {
      border-radius: 50%;
      height: 32px;
      line-height: 30px;
      padding: 0;
      text-align: center;
      text-overflow: ellipsis;
      width: 32px;
      white-space: nowrap;
    }
    &:first-child {
      > a,
      > span {
        margin-left: 0;
        @include border-left-radius(50%);
      }
    }
    &:last-child {
      > a,
      > span {
        @include border-right-radius(50%);
      }
    }
  }
}
